.container{
    margin:10px;
}
.spacer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spacer-end{
    display: flex;
    justify-content: end;
    align-items: center;
}

.form{
    display: flex;
}

table {
    width: 100%;
  }

  .mt-5{
      margin-top:10px;
  }

.icon:hover{
    cursor:pointer;
}